doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/css/layout.css')
    block stylesheet

    script(type='text/javascript', src='/jquery.min.js')
    script(type='text/javascript', src='/js/message_dialog.js')
    script(type='text/javascript', src='/js/popup_dialog.js')
    script(type='text/javascript', src='/js/logout.js')
    block script
  body
    .header
      a(href='/', class='icon')
        img(src='/images/logo.png', alt='icon')
      a(href='/', class='header-text')
        h2 高雄榮光堂學生統計系統

      if login
        nav.navigation
          div(class='menu-item')
            .menu-dropdown 學生管理
            .menu-dropdown-content
              a(href='/students/add', class='menu-sub-item') 加入學生資料
              a(href='/students/edit', class='menu-sub-item') 編輯學生資料
          div(class='menu-item')
            .menu-dropdown 老師管理
            .menu-dropdown-content
              a(href='/teachers/add', class='menu-sub-item') 加入老師資料
              a(href='/teachers/edit', class='menu-sub-item') 編輯老師資料
          div(class='menu-item')
            .menu-dropdown 課程管理
            .menu-dropdown-content
              a(href='/classes/add', class='menu-sub-item') 新增課程
              a(href='/classes/edit', class='menu-sub-item') 修改課程
          div(class='menu-item')
            .menu-dropdown 報表下載
            .menu-dropdown-content
              a(href='/query/students', class='menu-sub-item') 下載學生資料
              a(href='/query/teachers', class='menu-sub-item') 下載老師資料
              a(href='/query/classes', class='menu-sub-item') 下載課程資料

        if user
          p(class='user-status') 使用者:
            span #{user.username}
        input(type='button', id='logout', class='logout', value='登出')

    div(class='message-dialog transparent')
      p(id='message-text', class='message-text') message

    .main-content
      block content

    div(id='popup-dialog', class='popup-dialog', style='display: none')
      h4(id='popup-title', class='popup-title') Title
      p(id='popup-text', class='popup-text') There are some text
      .popup-button-panel
        input(type='button', id='yes', class='popup-button', value='確定')
        input(type='button', id='no', class='popup-button', value='取消')

    .author Created by Joseph
