doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/layout.css')
    if title === 'Login'
      link(rel='stylesheet', href='/css/login.css')
    if student_style
      link(rel='stylesheet', href='/css/student.css')
    meta(name='viewport', content='width=device-width')
    script(type='text/javascript', src='/jquery.min.js')
    script(type='text/javascript', src='/js/logout.js')
  body
    .header
      a(href='/', class='icon')
        img(src='/images/logo.png', alt='icon')
      a(href='/', class='header-text')
        h2 高雄榮光堂學生統計系統

      if login
        if user
          p(class='user-status') 使用者:
            span #{user.username}
        input(type='button', id='logout', class='logout', value='登出')

    .main-content
      h2(class='content-title')= title
      block content

    div(id='popup-dialog', class='popup-dialog', style='display: none')
      h4(id='popup-title', class='popup-title') Title
      p(id='popup-text', class='popup-text') There are some text
      .popup-button-panel
        input(type='button', id='yes', class='popup-button', value='確定')
        input(type='button', id='no', class='popup-button', value='取消')

    .author Created by Joseph
