doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/layout.css')
  body
    .header
      a(href='/', class='icon')
        img(src='/images/logo.png', alt='icon')
      a(href='/', class='header-text')
        h2 高雄榮光堂學生統計系統

    .main-content
      h2(class='content-title')= title
      block content

    .author Created by Joseph
