extends layout

block content
  .button-panel
    a(href='/query/students', class='button') 下載學生資料
    a(href='/query/teachers', class='button') 下載老師資料
    a(href='/query/classes', class='button') 下載課程資料
