extends layout

block stylesheet
  link(rel='stylesheet', href='/css/info_list.css')

block script
  script(src='/js/teacher_edit.js' type='text/javascript')
  script(src='/js/main_menu.js', type='text/javascript')

block content
  .info
    h2.content-title= title

    .info-list
      table
        thead
          tr
            th(class='info-edit')
            th(class='info-id hide') ID
            th(class='info-name') 姓名
            th(class='info-gender') 性別
            th(class='info-birthday') 生日
            th(class='info-address') 住址
            th(class='info-phone') 電話
            th(class='info-email') Email
        tbody(id='teacher-table')

    .info-button-panel
      input(type='button', class='button', id='menu', value='回選單')
