@import "colors"

$one-card-size: 300px

.card
  background-color: $main-color
  padding: 10px
  max-width: 360px
  max-height: 200px
  width: 100%


html
  body
    .main-content
      .one-card-container
        margin-top: 20px
        display: flex
        justify-content: center
        height: $one-card-size
