$transparent: 0.87
$shadow-color: #333
$main-color: rgba(250, 250, 250, $transparent)
$text-color: rgba(66, 66, 66, $transparent)
$title-text-color: rgba(66, 66, 66, $transparent)
$login-color: rgba(137, 219, 117, $transparent)
