$transparent: 0.87
$shadow-color: #333
$main-color: rgba(250, 250, 250, $transparent)
$text-color: rgba(66, 66, 66, $transparent)
$title-text-color: rgba(66, 66, 66, $transparent)
$login-color: rgba(84, 173, 239, $transparent)

$message-success-color: rgba(101, 218, 54, $transparent)
$message-error-color: rgba(239, 84, 84, $transparent)
